* {
    background-color:burlywood;
    font-family: sans-serif;
    color:saddlebrown ;   
    border: 2px solid red;
}

a:link {
    text-decoration: none;
    
}

a:hover {
    font-weight: bold;
}

img {
    height: auto;
    width: 250px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}